*.la
*.lo
*.o
.deps
.libs
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.rpath
config.sub
config
configure
data/ghex.desktop
data/gtkhex-3.pc
data/org.gnome.GHex.gschema.valid
depcomp
gnome-doc-utils.make
help/ghex-docs.h
help/*/*.mo
help/*/ghex.xml
help/*/legal.xml
help/*.omf
install-sh
libtool
ltmain.sh
m4/
missing
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
src/ghex
src/ghex-marshal.c
src/ghex-marshal.h
src/ghex-resources.c
src/ghex-resources.h
stamp-h1
*~
