include:
  - project: "gnome/citemplates"
    file: "flatpak/flatpak_ci_initiative.yml"
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      dist-job-name: "flatpak"

flatpak:
  extends: '.flatpak'
  dependencies: []
  variables:
    FLATPAK_MODULE: "ghex"
    MANIFEST_PATH: "org.gnome.GHex.Devel.json"
    APP_ID: "org.gnome.GHex.Devel"
    BUNDLE: "ghex-dev.flatpak"

nightly:
  extends: '.publish_nightly'
  needs: ['flatpak']
