[Desktop Entry]
Name=GHex
Name[es]=GHex
Name[fr]=Editeur Binaire
Name[no]=Binærfileditor
Name[pt]=GHex
Comment=Binary Editor
Comment[es]=Editor de ficheros binarios GNOME
Comment[fr]=Editeur Binaire GNOME
Comment[no]=Binærfileditor for Gnome
Comment[pt]=Editor de ficheiros binários GNOME
Exec=ghex
Terminal=0
Type=Application
Icon=gnome-ghex.png
