[Desktop Entry]
Name=GHex
Name[pt_BR]=GHex
Name[ca]=Editor hexadecimal
Name[cs]=Hexa editor
Name[da]=Hexeditor
Name[de]=Hexeditor
Name[es]=GHex
Name[et]=Hex redaktor
Name[fi]=Heksaeditori
Name[fr]=Éditeur héxadecimal
Name[gl]=GHex
Name[hu]=Hexa szerkesztõ
Name[hr]=Hex Ureğivaè
Name[hu]=Hexa szerkesztõ
Name[it]=GHex
Name[ja]=GHex
Name[ko]=½ÊÀ°Áø¼ö ÆíÁı±â
Name[lt]=GHex
Name[nl]=Hexeditor
Name[no]=Binærfileditor
Name[pl]=Edytor binarny
Name[pt]=GHex
Name[ru]=òÅÄÁËÔÏÒ GHex
Name[sk]=Hex editor
Name[sl]=GHex
Name[sv]=Binärfilseditor
Name[uk]=GHex
Comment=Gnome Hexadecimal Editor
Comment[pt_BR]=Editor Gnome Hexadecimal
Comment[ca]=GHex, l'editor hexadecimal de GNOME
Comment[cs]=Jednoduchı hexadecimální editor
Comment[da]=Gnome editor til at redigere binære filer
Comment[de]=Ein Editor für binäre Dateien
Comment[es]=Editor hexadecimal de Gnome
Comment[et]=Binaarfailide redaktor
Comment[fi]=Yksinkertainen heksadesimaalieditori
Comment[fr]=Éditeur héxadécimal de GNOME
Comment[gl]=Editor Hexadecimal de Gnome
Comment[hr]=Jednostavni heksadecimalni ureğivaè
Comment[hu]=Hexadecimális szerkesztõ
Comment[it]=Editor esadecimale di GNOME
Comment[ja]=Gnome16¿Ê¥¨¥Ç¥£¥¿
Comment[ko]=±×³ğ ½ÊÀ°Áø¼ö ÆíÁı±â
Comment[lt]=Gnome Hex redaktorius
Comment[nl]=Hexadecimale editor voor Gnome
Comment[no]=Binærfileditor for Gnome
Comment[pl]=Edytor plików binarnych
Comment[pt]=Editor de ficheiros binários GNOME
Comment[ru]=ûÅÓÔÎÁÄÃÁÔÉÒÉŞÎÙÊ ÒÅÄÁËÔÏÒ Gnome
Comment[sk]=Jednoduchı hexadecimálny editor
Comment[sl]=Urejevalnik binarnih datotek
Comment[sv]=Binärfilseditor för Gnome
Comment[ru]=û¦ÓÔÎÁÄÃÑÔËÏ×ÉÊ ÒÅÄÁËÔÏÒ Gnome
Exec=ghex
Terminal=0
Type=Application
Icon=gnome-ghex.png
