.hex {
	font-family: Monospace;
	font-size: 12pt;
	font-feature-settings: "tnum";
	color: @theme_fg_color;
	background-color: @theme_bg_color;
}

.hex:selected {
	color: @theme_selected_fg_color;
	background-color: @theme_selected_bg_color;
}

.hex:link {
	background-color: alpha(red, 0.5);
}

.hex:checked {
	color: @theme_bg_color;
	background-color: alpha(@theme_fg_color, 0.9);
}

.hex #offsets {
        padding-left: 12px;
	padding-right: 12px;
	border-right: solid @borders 2px;
	background-color: shade(@theme_bg_color, 0.9);
}

.hex #hex-display {
        border-right: dotted 2px @borders;
        padding-left: 12px;
}

.hex #ascii-display {
        padding-left: 12px;
}

