hex {
	font-family: Monospace;
	font-size: 12pt;
	padding-left: 12px;
	padding-right: 12px;
}

.view:link {
	background-color: alpha(red, 0.5);
}

.view:checked {
	color: @theme_bg_color;
	background-color: alpha(@theme_fg_color, 0.9);
}

#offsets {
	background-color: shade(@theme_bg_color, 0.95);
}

#hex-display {
	border-right: dotted 2px @borders;
}
